<body>
  <figure class="text-center">
    <blockquote class="blockquote">
        <h1 id="quote">Your <span>network</span> is your networth.</h1>
    </blockquote>
  </figure> 
  
  <div class="birdbox">
    <img class= "bird" src="assets/images/network.gif">
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 id="title">Affinity & Peer Support Groups</h1>  
     <div id="grid-container">
        <div id= card1>  
          <img id= one src="assets/images/mind.png"   alt="mind">
          <!-- class="card-img-top" -->
          <div class="card-body">
            <h5 class="card-title">A Place and Some Space: Mental Health Peer Support</h5>
            <p class="card-text"></p>
          </div>
        </div>
          
          
        
        <div id="card2">
            <img id=two src="assets/images/crown.jpeg"  alt="crown">
            <!-- class="card-img-top" -->
            <div class="card-body">
            <h5 class="card-title">First Ladies, Queen Bees: Women's Affinity Group</h5>
            <p class="card-text"></p>
          </div>
          
        </div>
        <div id="card3">
          <img id=three src="assets/images/qbag.jpeg"  alt="qbag">
          <!-- class="card-img-top" -->
          <div class="card-body">
            <h5 class="card-title">QUILTBAG Affinity Group</h5>
            <p class="card-text"></p>
          </div>
        
        </div>
  
        <div id="card4">
            <img id=four src="assets/images/common.jpeg"  alt="common-ground">
            <!-- class="card-img-top" -->
            <div class="card-body">
              <h5 class="card-title">Common Ground Affinity Group</h5>
              <p class="card-text"></p>
            </div>
            
          </div>
  
          <div id="card5">
            <img id=five src="assets/images/diversity.jpeg"  alt="diversity">
            <!-- class="card-img-top" -->
            <div class="card-body">
              <h5 class="card-title">Diverse Learner's Affinity Group</h5>
              <p class="card-text"></p>
            </div>
            
          </div>
  
          <div id="card6">
            <img id=six src="assets/images/bipoc.jpeg"  alt="bipoc">

            <!-- class="card-img-top" -->
            <div class="card-body">
              <h5 class="card-title">BIPOC Advocacy Group</h5>
              <p class="card-text"></p>
            </div>
          </div>
      </div>
      <p id= "Affinity"> For more information on Affinity and peer support groups, please reach out to your program manager.</p>
  
  
  
  
  
  <div class="container">
    <h1 id="header">Events & Workshops</h1>  
  <div id="box">
    <a href="https://www.eventbrite.com/o/grand-circus-7937585863">Find Events & Workshops!</a>
  </div>
  </div>
  
  <h1 id= "header">MCWT</h1> 
  <div id ="MCWTcontainer"> 
  <p> Michigan Council of Women in Technology foundation provides additional networking and scholarship oportunities for woman-identifying students. Check out their site for additional info.</p>
   <img id= "MCWT" src="https://mcwt.org/design/mcwt/public/assets/images/logo-header.png" alt="mcwtlogo">
  <div id= "box2">
   <a href="https://mcwt.org/"> Go to MCWT site!</a>
  </div>
  
  </div>
</body>
  
  