span{
    background-color: #F06639;
}


.blockquote{
    padding: 20px;
}

a:link, a:visited {
    background-color: #F06639;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #007CBA;
  }