<body>
  <figure class="text-center">
    <blockquote class="blockquote">
        <h1 id="quote">Your <span>network</span> is your networth.</h1>
    </blockquote>
  </figure> 
  
  <div class="birdbox">
    <img class= "bird" src="assets/images/network.gif">
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 id="title">Affinity & Peer Support Groups</h1>  
     <ul>
        <li> 
          <img id= one src="assets/images/Mind.png"   alt="mind">
            <span class="caption">A Place and Some Space: Mental Health Peer Support</span>
        </li> 
        <li> 
            <img id=two src="assets/images/crown.jpg"  alt="crown">
            <span class="caption">First Ladies, Queen Bees: Women's Affinity Group</span>
          </li>
        <li>
          <img id=three src="assets/images/qbag.jpg"  alt="qbag"> 
            <span class="caption">QUILTBAG Affinity Group</span>
        </li>
        <li>
            <img id=four src="assets/images/common.jpg"  alt="common-ground"> 
            <span class="caption">Common Ground Affinity Group</span>
        </li>    
        <li>
            <img id=five src="assets/images/diversity.jpg"  alt="diversity">
            <span class="caption">Diverse Learner's Affinity Group</span>
        </li>    
        <li>
            <img id=six src="assets/images/bipoc.jpg"  alt="bipoc">
            <span class="caption">BIPOC Advocacy Group</span>
        </li>
        <li></li>
      </ul>
      <p id= "Affinity"> For more information on Affinity and peer support groups, please reach out to your program manager.</p>
  
  <div class="container">
    <h1 id="header">Events & Workshops</h1>  
  <div id="box">
    <a href="https://www.eventbrite.com/o/grand-circus-7937585863">Find Events & Workshops!</a>
  </div>
  </div>
  
  <h1 id= "header">MCWT</h1> 
  <div id ="MCWTcontainer"> 
  <p> Michigan Council of Women in Technology foundation provides additional networking and scholarship oportunities for woman-identifying students. Check out their site for additional info.</p>
   <img id= "MCWT" src="https://mcwt.org/design/mcwt/public/assets/images/logo-header.png" alt="mcwtlogo">
  <div id= "box2">
   <a href="https://mcwt.org/"> Go to MCWT site!</a>
  </div>

<!-- </body> -->
  
  