.basicRandom{
background-color: #03324C;
border: 5px solid  #F06639;
text-align: center;
line-height: 1.3;
font-weight: 600;
color: #fff;
border-radius: 5px;
font-size: 11pt;
padding: 5px 15px;
margin: auto;
width: 200px;
cursor: pointer;
display: flex
}

.technicalRandom{
    background-color: #03324C;
    border: 5px solid  #F06639;
    text-align: center;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    font-size: 11pt;
    padding: 5px 15px;
    margin: auto;
    width: 200px;
    cursor: pointer;
    display: flex
    }