
<p> </p>

<div id = 'displayBasicQuestions'> 
</div>
 <button class= "basicRandom"(click)="basicRandom()">Basic Interview Question</button>   

 
 
 <!-- <div id = 'displayAnswers'> 
</div>
    <button class= "answers"(click)="answers()">Answers</button>    -->

    <article class="flashcard">
        <input id="flashcard-1" type="checkbox" />
        <label for="flashcard-1">
          <section class="front">
            Front of the flashcard!
          </section>
          
          <section class="back">
            Back of the flashcard!
          </section>
        </label>
      </article>
   