body{
  background-image: linear-gradient(to bottom left, #bbe3f7,#005a87);
}



.basicRandom{
  background-color: #03324C;
  border: 5px solid  #F06639;
  text-align: center;
  line-height: 1.3;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  font-size: 11pt;
  padding: 5px 15px;
  margin: auto;
  width: 200px;
  cursor: pointer;
  display: flex
  }
  
  .technicalRandom{
      background-color: #03324C;
      border: 5px solid  #F06639;
      text-align: center;
      line-height: 1.3;
      font-weight: 600;
      color: #fff;
      border-radius: 5px;
      font-size: 11pt;
      padding: 5px 15px;
      margin: auto;
      width: 200px;
      cursor: pointer;
      display: flex
      }
  
      body { font-family: sans-serif; }
  
  .scene {
    width: 600px;
    height: 460px;
    border: 1px solid #CCC;
    margin: 40px 0;
    perspective: 600px;
    border-radius: 10px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
  }
  
  .card2 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
    border-radius: 10px;
  }
  
  .card2.is-flipped2 {
    transform: rotateY(180deg);
    border-radius: 10px;
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .card2__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .card__face--front {
    background: #F06639;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .card__face--back {
    background: #03324C;
    transform: rotateY(180deg);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .card2__face--front {
    background: #F06639;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .card2__face--back {
    background: #03324C;
    transform: rotateY(180deg);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  
  .questionsFlipCards{
    display: block;
    padding: 10px;
    align-items: center;
  }
  

  .button-container1{
   display: inline-flex;
    padding: 20px;
  }
  
  .button-container2{
  display:  inline-flex;
    padding: 20px;
  }
  
  
  #displayTechQuestions, #displayTechAnswers, #displayBasicQuestions, #displayBasicAnswers {
    line-height: normal;
  
  }  

  img{
    float:right;
    padding: 10px;
    width: 300px;

  }


  .main1, .main2{
    display: flex;
  }


  #center{
      margin: auto;
      width: 50%;
    
  }

  section{
    padding: 20px;
  }

  img{

    padding: 20px;
  }

  @media only screen and (max-width: 768px) {


    img{ 

      display: none;
    }

    .questionsFlipCards{
      display: flex;
      flex-direction: column;
      width: 75%;
      padding: 10px;
      align-items: left;

    }

    section{
      float: right;
    }
   .main1, .main2{
     flex-wrap: wrap;
   }

   .card {
    width: 75%;
    height: 75%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
  }
  
  .card2 {
    width: 75%;
    height: 75%;
  }

  .scene {
    width: 300px;
    border: none;
    
  }

  .questionsFlipCards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .button-container1{
   display: inline-flex;
    padding: 20px;
  }
  
  .button-container2{
  display:  inline-flex;
    padding: 20px;
  }

  img{
    float: center;
    width: 150px;
  }

  .card__face, .card2__face {
    font-size: 12px;
  }

  }
