

  <!-- <div class="grandcircusimage">
      <img src="assets/images/grandcircus.png">
  </div> -->
 <!-- <div class= "title"> -->
  <!-- <h1> Grant Chirpus Career Hub <img src = "assets/images/grant.png" /> </h1>  -->
 
  <!-- <img src = "assets/images/grant.png" />  -->
<!-- <div class="header"> -->
  
<!-- <img src = "assets/images/grant.png"/> 
  </div>  -->
<body>
<header>
  <img src="assets/images/grandcircus.png">
  <h1> Grant Chirpus Career Hub</h1>  
<nav>
  <ul>
      <li><a href="https://www.grandcircus.co/">Grand Circus Home</a></li>
      <li><a routerLink="">Job Search</a></li>
      <li><a routerLink="/companies">Companies</a></li>
      <li><a routerLink="/interview-prep">Interview Prep</a></li>
      <li><a routerLink="/networking">Networking</a></li>
  </ul>

  <select>
      <option value="" selected="selected">Select</option>
      <option value href="https://www.grandcircus.co/">Grand Circus Home </option>
      <option value ="">Job Search</option>
      <option value ="/companies">Companies</option>
      <option value ="/interview-prep">Interview Prep</option>
      <option value ="/networking">Networking</option>
  
  </select>
</nav>
</header>
</body>


