
<section>
<h1><img src = "assets/images/grant.png" /> Grant Chirpus Career Hub</h1>
    <!-- <div class="header">
<img src = "assets/images/grant.png">
<h1>Grant Chirpus Career Hub</h1> 
</div> -->

<ul>
    <li><a routerLink="/grand-circus">Grand Circus Home</a></li>
    <li><a routerLink="">Job Search</a></li>
    <li><a routerLink="/companies">Companies</a></li>
    <li><a routerLink="/interview-prep">Interview Prep</a></li>
    <li><a routerLink="/networking">Networking</a></li>
  </ul>

</section>


<!-- <nav class="navbar navbar-light" style="background-color: whitesmoke;">
  <div class="container-fluid">
      <ul>
      <li class="nav-item">  <a routerLink="/grand-circus" class="nav-link">Grand Circus Home</a></li>
      <li class="nav-item">  <a routerLink="" class="nav-link">Job Search</a></li>
      <li class="nav-item">  <a routerLink="/companies" class="nav-link">Companies</a></li>
      <li class="nav-item">  <a routerLink="/interview-prep" class="nav-link">Interview Prep</a></li>
      <li class="nav-item">  <a routerLink="/networking" class="nav-link">Networking</a></li>
      </ul>
  </div>
</nav> -->



