span{
    background-color: #F06639;
}

h1{
    padding: 20px;
}

body{
    height: 650px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-image: url('/assets/images/header-image.jpg');
}

.center-button{
    margin-top:10px;
    margin-right: 20px;
}

.searchResults{
    display:flex;
    flex-direction: column;
}

.searchResults2{
    border: 1px solid hotpink;
    width: 100%;
    display:flex;
    justify-content: flex-end;
}

#jobResults{
    border: 1px solid black;
    list-style-type: none;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 450px;
    margin: 0;
}

#description{
    border: 1px solid black;
    width: 600px;
    /* margin: 0; */
    background-color: rgb(244,243,241);
    font-size: 12px;
}