span{
    background-color: #F06639;
}

h1{
    padding: 20px;
}

/* .jobResult{
    border: 1px solid black;
} */

.searchResults{

    border: 1px solid black;
    list-style-type: none;
    padding: 20px;
}
