<body>
    
    <h1>Ready for your next <span>career</span>?</h1>
        
    <div class = "searchFields">
        <div id="inputs" class = "row g-3">
            <div class="col"> 
            <input type="text" id="setSearchSuggestion" placeholder="Keyword" required name="Keyword" [(ngModel)]="keyword"  class="form-control" />
            </div>
            <div class="col">
            <input type = "text" id="jobLocation" placeholder="State (VA) or Zipcode (20191)" required name = "jobLocation" [(ngModel)]="jobLocation" class="form-control" />
            </div>
            <div class="col">
            <input type ="dropdown" id="jobRadius" placeholder="Radius" name = "jobRadius" [(ngModel)]="jobRadius" class="form-control"/>
            </div>
        </div>
    </div>

    <div class ="center-button">
        <button id="submit-button" class="btn btn-primary" type="submit" (click)="getJobResults()">Submit</button> 
    </div>

    <div id="leftSide">
        <div id="searchResults" *ngFor="let job of careerOneService.jobsList">
            <app-job-item [job]="job" (descStyle)="setJobDescription($event)"></app-job-item> 
        </div>
    </div>

    <div id="rightSide">
        <div class = "searchResults2">
            
            <div id='description' *ngIf="!closed">
                <button id='close' (click)= "close()"> &times; </button>
                <div [innerHTML] = "jobDesc" ></div>
                
            </div>
        </div>
    </div>  
    