    span{
        background-color: #F06639;
    }

    body{
        /* margin-top: 40px; */
        height: 650px;
        /* margin-top: 30px; */
        padding-left: 20px;
        padding-right: 20px;
        /* padding-top: 20px; */
        background-image: url('/assets/images/header-image.jpg');
        background-position-x: left;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    
    h1{
        font-size: 28px;
        padding-bottom: 20px;
        padding-top: 40px;
    }

    .center-button{
        margin-top:10px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    #submit-button{
        font-size: 14px;
    }

    #inputs{
        display: flex;
        flex-direction: column;
    }

    #setSearchSuggestion{
        font-size: 14px;
    }

    #jobLocation{
        font-size: 14px;
    }

    #jobRadius{
        font-size: 14px;
    }

    .col{
        width: 100%;
        padding-right: 20px;
    }

    #searchResults{
        width: 100%;
        padding-bottom: 10px;
    }

    #description{
        padding-top: 20px;
        border: 1px solid black;
        background-color: rgb(244,243,241);
        font-size: 14px;
        /* position: fixed; */
        overflow-y: auto;
        width: 100%;
        padding-right: 10px;
        height: 400px;
        /* margin: 0 auto; */
    }

@media screen and (min-width: 768px) {

    h1{
        font-size: 30px;
    }

    body{
        padding-top: 40px;
        height: 1200px;
    } 

    .col{
        width: 100%;
        padding-right: 20px;
    }

    #setSearchSuggestion{
        font-size: 16px;
    }

    #jobLocation{
        font-size: 16px;
    }

    #jobRadius{
        font-size: 16px;
    }

    #submit-button{
        font-size: 16px;
    }

}

@media screen and (min-width: 1200px){


    h1{
        font-size: 32px;
    }

    body{
        background-repeat:no-repeat;
        background-position-x: center;
        height: 1200px;
        margin: 0;
    }

    #inputs{
        flex-direction: row;
    }
    
    /* .col{
        padding-left: 0px;
    } */

    #setSearchSuggestion{
        font-size: 16px;
    }

    #jobLocation{
        font-size: 16px;
    }

    #jobRadius{
        font-size: 16px;
    }

    #submit-button{
        font-size: 16px;
    }

    #searchResults{
        /* margin: 0px; */
        width: 0px; 
        position: relative; 
        /* float: left; */
    }

    #description{
        border: 1px solid black;
        width: 65%;
        float:right;
        background-color: rgb(244,243,241);
        font-size: 12px;
        overflow-y: auto;
        padding-right: 20%;
        height: 450px;
        z-index: 9;
        
    }

}

