body {
    height: 100%;
    margin: 0;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    background-image: url("~src/assets/images/background_comp.png"); 
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70px;
  }

.display-1{
    font-size: 50px;
    color: #F06639;
    font-weight: bolder;
}

.wow {
  display: flex; 
  float: right;
  width: 300px;
  height: 300px;
  background: transparent;
  padding-right: 20px;
  padding-top: 10px;
  border: none;
} 

.company-logos{
  display: grid;
  grid-gap: 1em;
    grid-template-columns: repeat(3, minmax(1px, 100%));
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    list-style: none;
    padding-bottom: 40px;
}

  img {
    background: white;
    width: 80%;
    height: 80%; 
    padding-bottom: 10px; 
    padding-top: 30px; 
    border: 6px solid #03324C;
  }
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  } 
  